<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="css/style-min.css">
    <title>Vital Veins</title>
</head>
<body>

    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark danger-color">
        <a class="navbar-brand" href="#"><img src="images/logo.png" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bloodbank">Blood Bank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="campaign">Campaign</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="blog">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class=""></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="useraccept">Accept Request</a>
                        <a class="dropdown-item" href="request">Request Blood</a>
                        <a class="dropdown-item" href="finddonor">Find Donor</a>
                        <a class="dropdown-item" href="contact">Contact Us</a>
                    </div>

                </li>

            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="logout">Logout</a>
                        
                        
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <section>
       <div class="section">
        <div class="container">
            <div class="title">
                <h1>DONATION</h1>
            </div>
            <div class="content">
                <div class="article"><br><br>
                   <h3 style="font-weight:bold";></h3>
                   <p>Once the pre-donation screening is finished, you will proceed to a donor bed where your arm will be cleaned with an antiseptic, and a professional will use a blood donation kit to draw blood from a vein in your arm.

                   <br> If you are allergic to iodine, be sure to tell the phlebotomist at this point.

                   <br> During the donation process, you will donate one unit of blood; this takes about six to ten minutes.</p>
                    <div class="button">
                        <a href="index">Home</a>
                        </div>
                   
                        
                </div>
            </div>
        </div>
        <div class="image section">
            <img src="images/3.jpg" height="400px" width="">
        </div>
         <!-- <div class="social"> 
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>  -->
    </div>  
    </section>
<style>
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}
.section{
    width: 100%;
}
.section .container{
    width: 80%;
    display:block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color:#555;

}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color:#ff523b;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;
}.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
    
}
.content .article h3{
    color: #3a3a3a;
    font-size: medium;
}
.content .article p{
    margin-top: 20px;
    font: size 16px;
    line-height: 1.5;
    color: #333;
}

.content .article .button{
    margin-top: 50px;
}
.content .article .button a{
   text-decoration:none ;
   padding: 8px 25px;
   background-color: #ff523b;
   border-radius: 40px;
   color: #fff;
   font-size: 18px;
   letter-spacing: 1.5px;

}
.content .article .button a:hover{
    color: #fff;
    background-color:#563434;
    transition: 1s ease;
}
/* .container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
} */
 /* .container .social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: #f28f92;
    margin:0px 5px;
} */
/* .container .social i :hover{
    color: #fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
} */
@media screen and (max-width:760px){
    .section .container{
        width: 80%;
        display: block;
        margin: auto;
    }
    .content{
        float:none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float:none;
        width:100%;
        margin-top:50px ;
        
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .title h1{
        text-align:center;
        font-size: 30px;

    }
    .container .article .button{
        text-align: center;
    }
    .container .article .button a{
       padding:6px 15px;
       font-size: 16px;
    }
    .container .article .button i{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height:35px ;
     }
}
</style>
    

 <!-- Footer -->
     <footer class="page-footer font-small danger-color pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase"><img src="images/logo.png" width="120px"></h5>
                    <p>A web based blood Donation platform which connects thousands of blood donors in three
                        simple steps.nsures hassle free blood donation and privacy of a blood donor. A blood
                        donor can select any specific date and location to donate blood and find a suitable person who
                        needs blood. </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">About Us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="aboutus"><i></i>About Us</a>
                        </li>
                        <li>
                            <a href="#!"><i></i>How it works</a>
                        </li>
                        <li>
                            <a href="team"><i></i>Team</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Press</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="news">Latest News</a>
                        </li>
                        <li>
                            <a href="#!">Events</a>
                        </li>
                        <li>
                            <a href="#!">Awards</a>
                        </li>
                        
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fab fa-youtube fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="index.html">Vital Veins</a> All Rights Reserved
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    
</body>

</html>