<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="css/style-min.css">
    <title>Vital Veins</title>
<style>
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  
  padding: 20px;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: right 20px; 
  
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}
th{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
</style>
</head>
<body>

   <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark danger-color">
        <a class="navbar-brand" href="#"><img src="images/logo.png" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bloodbank">Blood Bank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="campaign">Campaign</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="blog">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class=""></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="useraccept">Accept Request</a>
                        <a class="dropdown-item" href="request">Request Blood</a>
                        <a class="dropdown-item" href="finddonor">Find Donor</a>
                        <a class="dropdown-item" href="contact">Contact Us</a>
                    </div>

                </li>

            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="logout">Logout</a>
                        
                        
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container">
    <form action="finddonor" method="post">
    <header><h1><center>Find Donor</h1></center></header>
  
        <div class="column">
            <div class="select-box">
            <label style="font-weight:bold;font-size:18px">Blood Group</label>
              <select id="bloodgroup" name="bloodgroup">
                <option hidden>Blood Group</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
            </div>

                    <div class="column">
                        <div class="input-box">
                        <label style="font-weight:bold;font-size:18px">City</label>
                        <input type="text" id="city" name="city"placeholder="Enter City" required />
                        </div>
                        
                    </div>
                <div class="column">
                        <div class="input-box">
                        <label style="font-weight:bold;font-size:18px">Region</label>
                        <input type="text" id="region" name="region"placeholder="Enter Region" required />
                        </div>
                        
                    </div>
                
            
        </div>
  
  
    <button type="submit">Search</button>
  
    </form>
    </div>
<!--section --->
<div class="grid-container">
    <div class="left-section">
        <h2><center>Donor Data</center></h2>
        <table>
            <thead>
                <tr>
                <table border="1" align="center" bordercolor="white">
	             <tr bgcolor="Red">
		         <th >Name</th>
		         <th >Mobile number</th>
		         <th >Blood Group</th>
		         <th >Address</th>
	
                </tr>
            </thead>
            <tbody>
          {{#each result}}
          <tr bgcolor="white">
            <td>{{this.name}}</td>
            <td>{{this.phn}}</td>
            <td>{{this.bloodgroup}}</td>
            <td>{{this.address}}</td>
          </tr>
          {{/each}}
          {{#if data}}
         <tr bgcolor="white" >
         <h3 align="center">
            No Record found!
        
        </h3>
        </tr>
        {{/if}}
        </tbody>
        </table>
    </div>
</div>
   <!-- Footer -->
   <footer class="page-footer font-small danger-color pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase"><img src="images/logo.png" width="120px"></h5>
                <p>A web based blood Donation platform which connects thousands of blood donors in three
                    simple steps.nsures hassle free blood donation and privacy of a blood donor. A blood
                    donor can select any specific date and location to donate blood and find a suitable person who
                    needs blood. </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">About Us</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="aboutus"><i></i>About Us</a>
                    </li>
                    <li>
                        <a href="#!"><i></i>How it works</a>
                    </li>
                    <li>
                        <a href="team"><i></i>Team</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Press</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="news">Latest News</a>
                    </li>
                    <li>
                        <a href="#!">Events</a>
                    </li>
                    <li>
                        <a href="#!">Awards</a>
                    </li>
                    
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-youtube fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="index.html">Vital Veins</a> All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>