<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="css/style-min.css">
    <title>Vital Veins</title>
<style>
/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  
  padding: 20px;
}
</style>
</head>
<body>
   <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark danger-color">
        <a class="navbar-brand" href="#"><img src="images/logo.png" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bloodbank">Blood Bank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="campaign">Campaign</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="blog">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class=""></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="useraccept">Accept Request</a>
                        <a class="dropdown-item" href="request">Request Blood</a>
                        <a class="dropdown-item" href="finddonor">Find Donor</a>
                        <a class="dropdown-item" href="contact">Contact Us</a>
                    </div>

                </li>

            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="logout">Logout</a>
                        
                        
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <section class="container">
    <header><h1><center>Patient Details</h1></center></header>
    <form action="request" class="form" method="post">
      <div class="column">
      <div class="input-box">
        <label style="font-weight:bold;font-size:18px">Patient Name</label>
        <input type="text" id="pnam"name="pname" placeholder="Patient name" required />
      </div>
      <div class="input-box">
        <label style="font-weight:bold;font-size:18px">Doctors Name</label>
        <input type="text" id="dname"name="dname" placeholder="Doctor Name" required />
      </div>
      </div>
      <div class="column">
        <div class="input-box">
            <div class="select-box">
              <label style="font-weight:bold;font-size:18px">Blood Group</label>
              <select id="bloodgroup" name="bloodgroup">
                <option hidden>Blood Group</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
            </div>
        <div class="input-box">
          <label style="font-weight:bold;font-size:18px">Hospital Name</label>
          <input type="text" id="hname" name="hname" placeholder="Hospital Name" required />
        </div>
      </div>
      <div class="input-box address">
        
        <div class="column">
          <div class="select-box">
            <label style="font-weight:bold;font-size:18px">State</label>
            <select id="state" name="state">
              <option hidden>State</option>
              <option value="Delhi">Delhi</option>
              <option value="Goa">Goa</option>
              <option value="Pune">Pune</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
            </select>
          </div>
        </div>
        <div class="input-box address">
        
          <div class="column">
          <div class="input-box">
            <label style="font-weight:bold;font-size:18px">District</label>
            <input type="text" id="district" name="district"placeholder="Enter District" required />
          </div>
        </div>
          </div>
          <div class="column">
          <div class="input-box">
            <label style="font-weight:bold;font-size:18px">Area</label>
            <input type="text" id="area" name="area"placeholder="Enter Area" required />
          </div>
            
          </div>
          
       
      </div>
        
          <div class="input-box">
            <header><h1><center>Contact Details</h1></center></header>
              <label style="font-weight:bold;font-size:18px">Contact Name</label>
              <input type="text" id="cname" name="cname" placeholder="Contact Name" required />
            </div>
          </div>
          <label style="font-weight:bold;font-size:18px">Mobile Number</label>
          <input type="text"id="phn" name="phn" placeholder="Mobile Number" required />
        </div>
      </div>
          <div class="input-box">
              <label style="font-weight:bold;font-size:18px">Date when needed</label>
              <input type="text"id="date" name="date" placeholder="Date when needed" required />
            </div>
          <div class="input-box address">
              <div class="select-box">
                <label style="font-weight:bold;font-size:18px">Priority</label>
                <select id="priority" name="priority">
                  <option hidden>Priority</option>
                  <option value="normal">Normal</option>
                  <option value="urgent">Urgent</option>
                  
                </select>
              </div>
              <div class="input-box">
                  <label style="font-weight:bold;font-size:18px">Email</label>
                  <input type="email" id="email" name="email"placeholder="Email required">
                </div>
              </div>
         
              <input type="submit">
    </form>
  </section>
  <!-- Footer -->
    <footer class="page-footer font-small danger-color pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase"><img src="images/logo.png" width="120px"></h5>
                    <p>A web based blood Donation platform which connects thousands of blood donors in three
                        simple steps.nsures hassle free blood donation and privacy of a blood donor. A blood
                        donor can select any specific date and location to donate blood and find a suitable person who
                        needs blood. </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">About Us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="aboutus"><i></i>About Us</a>
                        </li>
                        <li>
                            <a href="#!"><i></i>How it works</a>
                        </li>
                        <li>
                            <a href="#!"><i></i>Team</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Press</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="news">Latest News</a>
                        </li>
                        <li>
                            <a href="#!">Events</a>
                        </li>
                        <li>
                            <a href="#!">Awards</a>
                        </li>
                        
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fab fa-youtube fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="index.hbs">Vital Veins</a> All Rights Reserved
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>
